test_data/[Pp]rices*
test_data/tutorial*
volumes/var/
volumes/etc/apps/SplunkForwarder/
volumes/etc/apps/SplunkLightForwarder/
volumes/etc/apps/alert_logevent/
volumes/etc/apps/alert_webhook/
volumes/etc/apps/appsbrowser/
volumes/etc/apps/framework/
volumes/etc/apps/gettingstarted/
volumes/etc/apps/introspection_generator_addon/
volumes/etc/apps/launcher/
volumes/etc/apps/learned/
volumes/etc/apps/legacy/
volumes/etc/apps/sample_app/
volumes/etc/apps/search/
volumes/etc/apps/splunk_archiver/
volumes/etc/apps/splunk_httpinput/
volumes/etc/apps/splunk_instrumentation/
volumes/etc/apps/splunk_monitoring_console/
volumes/etc/apps/user-prefs/
volumes/etc/apps/splunk_datasets_addon/metadata/local.meta
ansible-configs/defaults/default.yml

